<nz-content>
  <nz-breadcrumb>
    <nz-breadcrumb-item>Übersicht</nz-breadcrumb-item>
    <nz-breadcrumb-item>Standorte</nz-breadcrumb-item>
  </nz-breadcrumb>
  <nz-card>
    <div class="operator">
      <nz-row nzGutter="24" style="margin-bottom:24px">
        <nz-col nzSpan="8">
          <button nz-button nzType="primary" routerLink="new">Neuer Standort</button>
        </nz-col>
        <nz-col nzSpan="8">
        </nz-col>
        <nz-col nzSpan="8">
          <nz-input-group [nzSuffix]="suffixIconSearch">
            <input type="text" nz-input placeholder="Bitte Suchbegriff eingeben." (ngModelChange)="onChange($event)"
              [ngModel]="searchText" />
          </nz-input-group>
          <ng-template #suffixIconSearch>
            <i nz-icon nzType="search"></i>
          </ng-template>
        </nz-col>
      </nz-row>
    </div>
    <div *ngIf="error != ''" class="alert">
      <nz-alert nzType="error" [nzMessage]="error"></nz-alert>
    </div>
    <div class="alert">
      <nz-alert nzType="info"
        nzMessage="{{ numberOfChecked }} {{numberOfChecked != 1 ? 'Standorte' : 'Standort'}} gewählt" nzShowIcon>
      </nz-alert>
    </div>
    <nz-table #usersTable [nzSize]="'middle'" [nzData]="locationsData"
      (nzCurrentPageDataChange)="currentPageDataChange($event)" [nzPageSize]="50" nzShowSizeChanger>
      <thead>
        <tr>
          <th nzShowCheckbox [(nzChecked)]="isAllDisplayDataChecked" [nzIndeterminate]="isIndeterminate"
            (nzCheckedChange)="checkAll($event)">
          </th>
          <th nzWidth="200px">Bezeichnung</th>
          <th nzWidth="200px">Straße</th>
          <th nzWidth="50px">Postleitzahl</th>
          <th nzWidth="100px">Ort</th>
          <th nzWidth="150px">Land</th>
          <th>Ansprechpartner</th>
          <th nzWidth="100px">Erstellt</th>
          <th nzWidth="150px"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of usersTable.data">
          <td nzShowCheckbox [(nzChecked)]="mapOfCheckedId[data.id]" (nzCheckedChange)="refreshStatus()"></td>
          <td [routerLink]="['info', data.id]">
            Bezeichnung
          </td>
          <td [routerLink]="['info', data.id]" nzWidth="150px">
            Straße
          </td>
          <td [routerLink]="['info', data.id]" nzWidth="150px">
            Postleitzahl
          </td>
          <td [routerLink]="['info', data.id]" nzWidth="150px">
            Ort
          </td>
          <td [routerLink]="['info', data.id]" nzWidth="150px">
            Land
          </td>
          <td [routerLink]="['info', data.id]" nzWidth="150px">
            Ansprechpartner
          </td>
          <td [routerLink]="['info', data.id]">{{ data.createdAt | date:'short'}} Uhr</td>
          <td>
            <button nz-button nzType="default" nzSize="small" [routerLink]="['info', data.id]"><i nz-icon nzType="info"
                nzTheme="outline"></i></button>
            <nz-divider nzType="vertical"></nz-divider>
            <button nz-button nzType="default" nzSize="small" [routerLink]="['edit', data.id]"><i nz-icon nzType="edit"
                nzTheme="outline"></i></button>
            <nz-divider nzType="vertical"></nz-divider>
            <button nz-button nzType="dashed" nzSize="small" (click)="deleteData(data.id)"><i nz-icon nzType="delete"
                nzTheme="outline"></i></button>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </nz-card>
</nz-content>