<!----Contract form text------>
<nz-row nzGutter="24">
  <nz-col nzSpan="12" nzOffset="6">
    <h1>Sehr geehrter Herr …</h1>
    <p>
      Willkommen in Ihrem Kundenportal.
    </p>

    <p>
      Hier stehen Ihnen die Zugänge zu den von Ihnen erworbenen Anwendungen zur Verfügung.
    </p>
    <p>
      Außerdem können Sie hier jederzeit in Ihre Verträge Einsicht nehmen oder diese ausdrucken. Auch Ihre Rechnungen
      werden hier gespeichert werden.
    </p>
    <p>
      Wir haben die Seite neugestaltet. Deshalb möchten wir Sie zunächst bitten, die Angaben auf den folgenden Seiten zu
      überprüfen. Ändern und ergänzen Sie bitte die unrichtigen oder unvollständigen Eintragungen und nehmen Sie, soweit
      erforderlich, eine Auswahl vor, damit es zu keinen Irrtümern kommen kann. Im Zweifel kontaktieren Sie uns.
    </p>
    <p>
      Die für die Vertragsabwicklung wesentlichen Vereinbarungen und Bestimmungen stellen wir Ihnen auch zur Einsicht
      zur
      Verfügung.
    </p>
    <ul>
      <li>
        Die Überlassungs- und Servicevereinbarung regelt den Vertragsumfang, die Vertragszeit und das vereinbarte
        Entgelt.
      </li>
      <li>
        Die Vereinbarung zur Auftragsvereinbarung wird von Ihnen im Rahmen der DSGVO benötigt. Wir haben das Regelwerk
        vorbereitet. Sie können sich die Vereinbarung jederzeit herunterladen und unterzeichnen.
      </li>
      <li>
        Zu den Vereinbarungen gehören die entsprechenden Anlagen, wie die Allgemeinen und Besonderen
        Geschäftsbedingungen,
        ein Überblick über unser Sicherheitskonzept und als Anlage zur Auftragsvereinbarung die sogenannten technischen
        und
        organisatorischen Maßnahmen zur Datensicherheit.
      </li>
    </ul>
    <p>
      Wir haben Ihnen eine SCHRIT-FÜR-SCHRITT Übersicht angelegt, um die Überprüfung und Einsichtnahme so einfach wie
      möglich zu machen.
    </p>
    <p>
      Soweit noch nicht geschehen, können Sie jetzt ganz bequem online auf das SEPA-Lastschriftverfahren umstellen. Das
      erspart Ihnen, die vereinbarten Zahlungsfristen zu notieren und uns zusätzliche Buchungsarbeiten.
    </p>
    <p>
      Wie gesagt, Sie finden anschließend alle Vereinbarungen und Anlagen in Ihrem Portal unter DOKUMENTE zum Download
      und
      zum Ausdrucken wieder.
    </p>
    <p>
      Für Ihre Bemühungen bedanken wir uns.
    </p>
    <p>
      Über das Kontaktformular erreichen Sie jederzeit den richtigen Ansprechpartner.
    </p>
    <p> 
      Ihr PTC Telematik Team
    </p>
  </nz-col>
</nz-row>