<!----Contract form text------>
<nz-row>
  <nz-col nzSpan="16" nzOffset="4">
    <nz-row>
      <nz-col nzSpan="24">
        <h1>{{contract_heading}}</h1>
      </nz-col>
    </nz-row>
    <nz-row nzGutter="24">
      <nz-col nzSpan="12">
        <p>
          <b>Zwischen der</b> <br />
          PTC-Telematik GmbH <br />
          vertr. d. d. Geschäftsführer vertr. d. <br />
          Rudolf Holling <br />
          Rheinstraße 2a <br />
          56068 Koblenz <br />
          -Auftragnehmerin-<br /><br />

          wird die folgende Vereinbarung getroffen.
        </p>
      </nz-col>

      <nz-col nzSpan="12">
        <p>
          <b>und der</b> <br />
          Mustermann GmbH<br />
          vertr. d. d. Geschäftsführer<br />
          Klaus Mustermann<br />
          Friedrich-Ebert-Ring 12<br />
          56068 Koblenz<br />
          -Auftraggeber-<br /><br />
        </p>
      </nz-col>
    </nz-row>
    <div nz-row nzGutter="24">
      <div nz-col nzSpan="12">
        <p>
          <b>1. {{headingpara1}}</b>
        </p>

        <p><b>1.1</b> {{paratext1_1}}</p>
        <p><b>1.2</b> {{paratext1_2}}</p>
        <p><b>1.3</b> {{paratext1_3}}</p>
        <p><b>1.4</b> {{paratext1_4}}</p>

        <P><b>
            <b>2.</b>{{headingpara2}}</b>
        </P>
        <P>
          <b>2.1</b> {{paratext2_1}}
        </P>
      </div>

      <div nz-col nzSpan="12">
        <P>
          <b>2.2</b> {{paratext2_2}}
        </P>
        <P>
          <b>2.3</b>{{paratext2_3}}
        </P>

        <p>
          <b><b>3.</b>{{headingpara3}}</b>
        </p>
        <p><b>3.1</b> {{paratext3_1}}</p>
        <p><b>3.2</b> {{paratext3_2}}</p>


        <p>
          <b><b>4.</b> {{headingpara4}}</b>
        </p>

        <p><b>4.1</b> {{paratext4_1}}</p>

        <p>
          <b><b>5.</b>{{headingpara5}}</b>
        </p>
        <p><b>5.1</b> {{paratext5_1}}</p>
      </div>
    </div>
  </nz-col>
</nz-row>