<nz-content>
  <nz-breadcrumb>
    <nz-breadcrumb-item>Einstellungen</nz-breadcrumb-item>
    <nz-breadcrumb-item>Bankdaten</nz-breadcrumb-item>
  </nz-breadcrumb>
  <div class="inner-content">
    <nz-row nzGutter="24">
      <nz-col nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="8" nzXl="8">...</nz-col>
      <nz-col nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="8" nzXl="8">...</nz-col>
      <nz-col nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="8" nzXl="8">...</nz-col>
    </nz-row>
  </div>
</nz-content>