<div class="vertical-center">
  <div class="vertical-center-wrapper">
    <div class="vertical-center-container">
      <div class="top">
        <div class="header">
          <img src="/assets/images/logo-m.png" alt="PTC Logo" class="logo">
        </div>
        <div class="desc">
          Bitte geben Sie Ihre E-Mail-Adresse ein.
        </div>
      </div>
      <div *ngIf="error != ''" class="error">
        <nz-alert nzType="error" [nzMessage]="error"></nz-alert>
      </div>
      <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
        <nz-form-item>
          <nz-form-control nzErrorTip="Bitte Email eingeben!">
            <nz-input-group nzSize="large" nzPrefixIcon="user">
              <input type="text" nz-input email #nameRef formControlName="email" placeholder="Email" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <button nz-button nzSize="large" class="login-form-button" [nzType]="'primary'"
                    [disabled]="!validateForm.valid" [nzLoading]="loading" >Weiter</button>
          </nz-form-control>
        </nz-form-item>
      </form>
      <!-- <button nz-button nzSize="large" class="login-form-button" [nzType]="'primary'"
      [nzLoading]="loading" (click)="login()">Einloggen</button> -->
    </div>
  </div>
</div>
<div class="footer">
  ...
</div>
