<div class="vertical-center">
  <div class="vertical-center-wrapper">
    <div class="vertical-center-container">
      <div class="top">
        <div class="header">
          <img src="/assets/images/logo-m.png" alt="PTC Logo" class="logo">
        </div>
        <div class="desc">
          Willkommen, {{ payload.name }}!
          <p>
            Bitte legen Sie ein neues Passwort für Ihr Konto fest.
          </p>
        </div>
      </div>
      <div *ngIf="error != ''" class="error">
        <nz-alert nzType="error" [nzMessage]="error"></nz-alert>
      </div>
      <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
        <nz-form-item>
          <nz-form-control nzErrorTip="Bitte geben Sie Ihr Passwort ein!">
            <nz-input-group nzSize="large" nzPrefixIcon="lock">
            <input
              nz-input
              type="password"
              formControlName="password"
              placeholder="Neues Passwort"
              #nameRef
              (ngModelChange)="updateConfirmValidator()"
            />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control [nzErrorTip]="errorTpl">
            <nz-input-group nzSize="large" nzPrefixIcon="lock">
            <input
              nz-input
              type="password"
              formControlName="checkPassword"
              placeholder="Neues Passwort bestätigen" />
            <ng-template #errorTpl let-control>
              <ng-container *ngIf="control.hasError('required')">
                Bitte bestätigen Sie Ihr Passwort!
              </ng-container>
              <ng-container *ngIf="control.hasError('confirm')">
                Zwei von Ihnen eingegebene Passwörter inkonsistent sind!
              </ng-container>
            </ng-template>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control>
            <button nz-button nzSize="large" class="login-form-button" [nzType]="'primary'"
                    [disabled]="!validateForm.valid" [nzLoading]="loading">Einloggen</button>
          </nz-form-control>
        </nz-form-item>
      </form>
      <!-- <button nz-button nzSize="large" class="login-form-button" [nzType]="'primary'"
      [nzLoading]="loading" (click)="login()">Einloggen</button> -->
    </div>
  </div>
</div>
<div class="footer">
  ...
</div>
